body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.parent{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 10px;
}
.child{
    background-color: rgb(156, 173, 249);
    margin: 0px;
}
#wrapper{
    display: grid;
    grid-template-areas: 
    "header header header"
    "lside main rside"
    "footer footer footer";
}
header{
    grid-area:header;
}
footer{
    grid-area: footer;
}
main{
    grid-area: main;
}
nav{
    grid-area: lside;
}