body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f0f3bd;
    font-size: 18pt;
    color: #028090;
}
#em{
    color: #1a5e63;
}
.deem{
    color: #cace7c;
}
.smile{
    font-style: italic;
    color: #1a5e63;
}

