body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0;
}
header, footer{
    background-color: rgb(178, 195, 250);
    padding: 10px;
    font-size: larger;
}
.row{
    display: flex;
    gap: 10px;
    margin: 15px 0;
}
.row label{
    width: 150px;
    text-align: right;
}
.check-row {
    display: flex;
    gap: 10px;
}
.spacer{
    width: 150px;
    text-align: right;
}
.row input:not([type='submit']), .row select, .row textarea{
    padding: 8px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(208, 208, 243);
}
.row input:not([type='submit']):focus, .row select, .row textarea{
    background-color: white;
}
.row input[type='submit']{
    background-color: rgb(83, 83, 121);
    color: white;
    padding: 5px 20px;
    border-radius: 3px;
}
fieldset{
    background-color: rgb(179, 179, 200);
    margin: auto;
    width: 80%;
}
legend{
    background-color: rgb(83, 83, 121);
    color: white;
    padding: 20px;
    font-size: 20px;
}
@media ONLY screen AND (max-width:600px){
    .check-row, .row{
        flex-direction: column;
    }
    .row label, .spacer{
        text-align: left;
    }
}