body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(139, 32, 40);
    font-size: 15pt;
    background-image: url(seabackground.jpeg);
    
}
.current{
    font-style: italic;
    font-size: larger;
    color: aquamarine;
}
.flag{
    background-image: url(hk-removebg-preview\ \(1\).png);
    background-position: 100%;
    background-repeat: no-repeat;
}
.list{
    list-style-image: url(hkisland.png);
}